@media all and (min-width: 480px) {
  .Admin {
    width: 60%;
    margin: 10px auto;
    padding: 60px 0;

    header {
      font-size: 25px;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
