@media all and (min-width: 480px) {
  .Admin {
    width: 60%;
    margin: 10px auto;
    padding: 60px 0;

    header {
      font-size: 25px;
      margin-bottom: 20px;
      text-align: center;
    }

    .UserAdmin {
      .userCell {
        display: flex;
        justify-content: space-between;

        .option {
          .btn {
            height: 15px;
            font-size: 13px;
            padding: 0;
            border: 0;
            vertical-align: unset;

            &:focus {
              box-shadow: none;
            }
          }

        }
      }

      .success {
        color: #0f9d58;
      }

      .failure {
        color: #c5221f;
      }
    }
  }
}
