@media all and (min-width: 480px) {
  .Admin {
    width: 80%;
    margin: 10px auto;
    padding: 60px 0;
    display: flex;

    header {
      font-size: 25px;
      text-align: left;
      padding-bottom: 15px;
    }

    .inline {
      display: flex;
    }

    .AdminMenu {
      display: flex;
      flex-direction: column;
      padding: 65px 20px 20px;

      .btn {
        text-align: left;
      }
    }

    .AdminContent {
      padding: 20px;
      width: 100%;
    }

    .UserAdmin {
      .userCell {
        display: flex;
        justify-content: space-between;

        .option {
          .btn {
            height: 15px;
            font-size: 13px;
            padding: 0;
            border: 0;
            vertical-align: unset;

            &:focus {
              box-shadow: none;
            }
          }
        }

        .chips {
          line-height: 1;
          font-size: 1em;

          .chip {
            display: inline-block;
            margin: 5px 40px 5px 5px;
            position: relative;

            .chip-value {
              display: inline-block;
              padding: 5px 7px 5px 15px;
              background: #555;
              color: #fff;
              font-weight: bold;
              border-radius: 15px 0 0 15px;
            }

            .chip-delete-button {
              background: #555;
              color: #fff;
              font-weight: bold;
              border: 0;
              border-radius: 0 15px 15px 0;
              padding: 5px 10px;
              cursor: pointer;
              position: absolute;
              top: 0;
              bottom: 0;
              right: -40;
              line-height: 0.5;

              &:focus {
                border: none;
              }

              &:active {
                border: none;
              }
            }
          }
        }
      }

      .success {
        color: #0f9d58;
      }

      .failure {
        color: #c5221f;
      }
    }
  }
}
