@media all and (min-width: 480px) {
  .Auth {
    width: 60%;
    margin: 10px auto;
    padding: 60px 0;

    form {
      margin: 0 auto;
      max-width: 320px;

      header {
        font-size: 25px;
        margin-bottom: 20px;
        text-align: center;
      }

      a {
        margin-bottom: 15px;
        display: block;
        font-size: 14px;
      }

      .options {
        display: flex;
        justify-content: space-between;
        width: 100%;

        a {
          cursor: pointer;
        }
      }
    }
  }
}
