@media all and (min-width: 480px) {
  .Auth {
    width: 60%;
    margin: 10px auto;
    padding: 60px 0;

    header {
      font-size: 25px;
      margin-bottom: 20px;
      text-align: center;
    }

    form {
      margin: 0 auto;
      max-width: 320px;

      .options {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .option {
          margin-bottom: 15px;
          font-size: 14px;
        }
      }
    }

    .success {
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
    }

    .success-message {
      display: flex;
      justify-content: center;

      .success-icon {
        color: grey;
        font-size: 25px;
        margin-right: 10px;
      }
    }

    .success-link {
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
  }

  &.ResetPassword {
    display: flex;
    flex-direction: column;
  }
}
