@media all and (min-width: 480px) {
  .CreateResource {
    padding: 20px;

    form {
      margin: 0 auto;
      max-width: 250px;

      header {
        font-size: 25px;
        margin-bottom: 20px;
        text-align: center;
      }

      .form-group {
        margin-bottom: 7px;
      }

      .form-label {
        font-size: 14px;
      }

      input[type="text"] {
        height: 25px;
      }

      .LoaderButton {
        margin-top: 25px;
      }
    }
  }
}
