.NavPanel {
  width: 350px;
  height: calc(100% - 20px);
  padding: 20px;
  overflow: hidden;

  .navHeader {
    display: flex;
    justify-content: space-between;

    header {
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: bold;
    }

    .navControls {
      .control {
        font-size: 18px;
        cursor: pointer;
      }

      .add {
        color: blue;
      }
    }
  }

  .navItems {
    height: 100%;
    overflow: auto;

    .NavItem {
      margin-bottom: 15px;
      font-size: 14px;
      display: flex;
      justify-content: space-between;

      .resourceInfo {
        .resourceName {
          font-weight: bold;

          button {
            padding: 0;
            box-shadow: none;
            font-size: 14px;
          }
        }

        .resourceLocation {
          color: #999;
          font-size: 12px;
        }
      }

      .resourceControls {
        .control, .info {
          font-size: 16px;
          margin: 0 2px;
        }

        .control {
          cursor: pointer;
        }

        .edit {
          color: gray;
        }

        .delete {
          color: red;
        }

        .submit {
          color: green;
        }
      }
    }
  }
}
