.App {
  .light {
    font-weight: 200;
  }

  .normal {
    font-weight: 400;
  }

  .heavy {
    font-weight: 600;
  }

  .NotFound {
    h3 {
      width: 100%;
      margin: 100px auto;
      text-align: center;
    }
  }

  .About {
    width: 60%;
    margin: 10px auto;

    li {
      margin-bottom: 10px;
    }
  }
}
